@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ПРАЗНО</p>
    <p><a href="http://www.dir.bg" class="btn btn-primary btn-lg">ДИР.БГ &raquo;</a></p>
</div>
